* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #0b0b45; /* Cor de fundo que lembra o céu noturno */
    overflow: hidden;
    position: relative;
}

#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: fall 5s infinite linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh) translateX(50px);
        opacity: 0;
    }
}
